
@media all {
    .docs {

    }
    .doc-item {
		padding: 70px 0;
		border-top: 1px solid #cccccc;
    }
	.docs .doc-item:first-child {
		padding-top: 0;
		border-top: none;
	}
	.doc-item:last-child {
		padding-bottom: 0;
	}
    .doc-item__name.h3 {
		margin-bottom: 10px;
		text-transform: none;
    }
}
@media (max-width: 767px) {
	.doc-item__file-name {
		font-size: 14px;
	}
}
@media (max-width: 560px) {
	.doc-item__name.h3 {
		text-align: left;
	}
}