/*chess-legend*/
@media all {
  .chess-legend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -10px;
  }

  .chess-legend__it {
    display: flex;
    justify-content: center;
    line-height: 36px;
    width: 112px;
    height: 40px;
    margin: 0 10px;
    font-weight: bold;
  }

  .chess-legend__it._in-sale {
    color: #fff;
    background-color: #693;
  }

  .chess-legend__it._selected {
    border: 3px solid;
    background-color: #fff;
    line-height: 32px;
  }

  .chess-legend__it._disable {
    color: #fff;
    background-color: #ccc;
  }
}

@media (max-width: 767px) {
  .chess-legend {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 479px) {
  .chess-legend__it {
    font-size: 13px;
    width: auto;
    padding: 0 8px;
  }
}

@media (max-width: 360px) {
  .chess-legend {
    margin: 0 -3px;
  }

  .chess-legend__it {
    margin: 0 3px;
  }
}

/*chess-slider*/
@media all {
  .p__swiper.chess-slider {

  }

  .chess-slider__inner {
    display: flex;
    align-items: flex-end;
  }

  .p__swiper.chess-slider .swiper-container {
    flex: 1;
  }

  .p__swiper.chess-slider .swiper-slide {
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: auto;
  }

  .add-section-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
  }

  .floors-list {
    display: flex;
    flex-direction: column;
    padding: 0 20px 14px;
    width: 120px;
  }

  .floors-list._left {
    align-items: flex-end;
  }

  .floors-list._right {
    align-items: flex-start;
  }

  .floors-list__floor {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    color: #999;
    font-weight: bold;
  }

  .floors-list__floor .foors-list__floor-text {
    margin-left: 4px;
  }

  .chess-section-flatnotfound {
    margin-right: 40px;
    filter: grayscale(80%);
    opacity: .6;
  }

  .chess-section {
    background-color: #f0f0f0;
    padding: 18px;
  }

  .chess-section__name {
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .chess-section__name-text {

  }

  .chess-section__edit-links {
    margin-left: 10px;
  }

  .chess__section-clone-link {
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
  }

  .chess__section-clone-link.icon-trash {
    color: #f44336;
  }

  .chess-floor {
    display: flex;
    margin: -4px;
    height: 46px;
    position: relative;
  }

  .chess-floor:not(._empty) {
    background-color: #e2e2e2;
  }

  .chess-floor._edit:not(._empty):hover {
    outline: 1px dashed;
    z-index: 1;
  }

  .chess__floor-edit-area {
    position: absolute;
    top: -10px;
    font-size: 11px;
    display: none;
    z-index: 2;
  }

  .chess-floor._edit:not(._empty):hover .chess__floor-edit-area {
    display: flex;
  }

  .chess__floor-edit-link {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 120px;
  }

  .chess__floor-edit-link._delete {
    color: #f44336;
  }

  .chess__floor-edit-link__icon {
    margin-right: 5px;
  }

  .chess__floor-edit-link__title {

  }

  .chess-flat {
    width: 62px;
    height: calc(100% - 8px);
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: #669934;
    border: 3px solid #669934;
    color: white;
    margin: 4px;
    user-select: none;
    position: relative;
  }

  .chess-flat__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .chess-flat._selected span {
    color: white;
  }

  .chess-flat._disable {
    background-color: #ccc;
    border-color: #ccc;
  }

  .chess-flat._selected {
    border-color: currentColor;
    background-color: #669934;
  }

  .chess-flat._add-flat-block {
    background: none;
    border-color: #ccc;
    border-style: dashed;
  }

  .chess-flat._new {
    opacity: .5;
  }

  a.add-flat-link {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #ccc;
  }
}

@media (max-width: 1023px) {
  .floors-list {
    width: 80px;
  }

  .floors-list._right {
    display: none;
  }
}

@media (max-width: 767px) {
  .chess-flat {
    width: 50px;
  }

  .floors-list {
    width: auto;
    padding-left: 0;
  }

  .floors-list._left {
    align-items: flex-start;
  }

  .foors-list__floor-text {
    display: none;
  }
}

@media (max-width: 479px) {
  .floors-list {
    padding-right: 10px;
  }
}

/*chess data form*/
@media all {
  .chess-data-form__footer {
    margin-top: 40px;
  }
}

/*chess-tippy*/
@media all {
  .chess-tippy {
    width: 280px;
    padding: 24px 28px 28px;
  }

  .chess-tippy__header {
    font-size: 20px;
    text-align: left;
  }

  .chess-tippy__properties {
    margin-top: 20px;
  }

  .chess-tippy__property {
    display: flex;
    justify-content: space-between;
  }

  .chess-tippy__property + .chess-tippy__property {
    margin-top: 12px;
  }

  .chess-tippy__property-name {
    font-size: 14px;
  }

  .chess-tippy__property-value {
    font-size: 17px;
    font-weight: bold;
  }

  .chess-tippy__footer {
    margin-top: 26px;
  }

  .chess-tippy__footer .btn {

  }


}

@media (max-width: 1023px) {
  .chess-tippy {
    padding: 15px 18px 24px;
  }

  .chess-tippy__properties {
    margin-top: 10px;
  }

  .chess-tippy__property + .chess-tippy__property {
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .chess-tippy {
    width: 220px;
  }

  .chess-tippy__property-name {
    font-size: 13px;
  }

  .chess-tippy__property-value {
    font-size: 15px;
  }

  .btn.btn-tippy {
    height: 40px;
    font-size: 16px;
  }
}

/*chess-popup*/
@media all {
  .chess__forms {
    display: none;
  }

  .chess__popup {
    max-width: 900px;
  }

  .chess-edit-form {

  }

  .chess-edit-form__field {
    display: flex;
  }

  .chess-edit-form__field + .chess-edit-form__field {
    margin-top: 20px;
  }

  .chess-edit-form__field-title {
    padding-right: 15px;
    font-weight: bold;
  }

  .chess-edit-form__field-values {

  }

  .chess-edit-form__footer {
    margin-top: 30px;
    text-align: right;
  }

  /*plans*/
  .chess-edit-form__field-values[data-type="list"] {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }

  label.field-plan {
    margin: 5px;
    cursor: pointer;
  }

  .field-plan__input {
    display: none;
  }

  .field-plan__image-wrapper {
    display: block;
    border: 2px solid #ccc;
    padding: 5px;
  }

  .field-plan__input:checked + .field-plan__image-wrapper {
    border-color: #2dc1fe;
  }

  .field-plan__image {
    width: 150px;
    height: 150px;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .field-plan__name {
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
    display: inline-block;
    line-height: 1.1;
  }

  .field-plan__input:checked + span + .field-plan__name {
    border-bottom-color: inherit;
  }

  /*bool*/
  .field-checkbox {
    display: flex;
    align-items: center;
  }

  .field-checkbox__label {
    margin-left: 10px;
  }
}
