
@media all {

    .subscribe {
        color: #ffffff;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .subscribe__text-1 {
        font-size: 35px;
        font-weight: 300;
    }
    .subscribe__text-2 {
        font-size: 18px;
        margin-top: 6px;
    }
    .subscribe-form {
        flex: 1;
        margin-left: 60px;
    }

    .subscribe-row {
        display: flex;
        align-items: center;
    }
    .subscribe-input {
        border-radius: 4px 0 0 4px;
        height: 60px;
        padding: 0 20px;
        font-size: 15px;
        border: none;
        background-color: #fff;
        width: calc(100% - 200px);
    }
    .subscribe .btn {
        border-radius: 0 4px 4px 0;
        width: 200px;
    }
    .bx-no-touch .btn-sub:hover {
        color: #fff;
    }
    .subscribe-footer {
        background-color: rgba(0,0,0,.18);
        color: #fff;
        text-align: center;
        font-size: 13px;
        font-style: italic;
        padding: 11px 0;
    }
    .subscribe-footer a, .subscribe-footer a:hover {
        color: #fff;
    }

    .subscribe-form .input-container:not(.has-error) .help-block.error {
        pointer-events: none;
    }
    .subscribe-form .input-container.has-error .help-block.error {
        position: absolute;
        width: 100%;
    }
    
    .subscribe-message {
        width: 100%;
        padding: 10px;
        background-color: #fff;
        margin-top: 10px;
    }
    .subscribe-message.notetext {
        color: #3c763d;
    }
    .subscribe-message.errortext {
        color: #ED5A5A;
    }
}
@media (max-width: 1200px) {
    .subscribe__text {
        text-align: center;
    }
    .subscribe-form .input-container.has-error .help-block.error {
        position: relative;
    }
    .subscribe {
        flex-direction: column;
    }
    .subscribe-form {
        margin: 30px 0 10px 0;
        width: 520px;
        max-width: 100%;
    }
    .subscribe-message {
        width: 520px;
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .subscribe__text-1 {
        font-size: 30px;
        line-height: 1.2;
    }
    .subscribe__text-2 {
        font-size: 16px;
    }
}
@media (max-width: 479px) {
    .subscribe__text-1 {
        font-size: 25px;
    }
    .subscribe__text-2 {
        font-size: 14px;
    }
    .subscribe-input {
        width: auto;
        flex: 1;
        height: 50px;
    }
    .subscribe .btn {
        width: 50px;
    }
}