
@media all {
	.achievements-slider {

	}
    .achievements__item {
		text-align: center;
    }
    .achievements__img-w {
		max-width: 100%;
		margin-bottom: 35px;
    }
	.achievements__img {
		display: block;
		height: 190px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
    .achievements__name {
		font-size: 20px;
		margin-bottom: 8px;
    }
    .achievements__text {
		font-size: 13px;
		color: #999999;
    }
}
@media (max-width: 767px) {
	.achievements__img-w {
		margin-bottom: 15px;
	}
}
        