
@media all {
	.news-detail__img {
		margin-bottom: 30px;
		text-align: center;
	}
	.news-galery {
		margin-top: 40px;
	}
	.news-galery .swiper-slide {
		width: auto;
	}
	.news-galery .swiper-slide img {
		height: 260px;
		display: block;
	}
}