
/*template.php*/
@media all {
    .news-standard {
		margin: -24px 0;
    }
    a.news-standard__item {
		display: flex;
		flex-direction: column;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
		text-decoration: none;
		overflow: hidden;
		margin: 24px 0;
    }
    .news-standard__img-container {
		overflow: hidden;
    }
	.news-standard__img {
		display: block;
		padding-bottom: 56.25%;
		background-position: center center;
		-webkit-background-size: cover;
		background-size: cover;
		-webkit-transition: .3s ease;
		transition: .3s ease;
	}
		a.news-standard__item:hover .news-standard__img {
			transform: scale(1.1);
		}
	.news-standard__content {
		padding: 22px 30px;
		display: flex;
		flex-direction: column;
	}
    .news-standard__name {
		font-size: 16px;
		margin-bottom: 30px;
		color: #000;
    }
    .news-standard__date {
		color: #888888;
		margin-top: auto;
		font-size: 13px;
    }
}
@media (max-width: 767px) {
	.news-standard__content {
		padding: 18px;
	}
}
        